@charset "UTF-8";
/* notice-top */
.notice-top{
width: 80%;
height: auto;
margin-top: 200px;
}

.nav a:hover{
	color:red;
}

.nav-link {
	color:black;
	font-weight: bold;
}

.page-link{
	color : black;
}
.page-link:hover{
	color : red;
}
[title="검색선택"]{
	margin-right: 20px;
}
/* 부트스트랩 전용 class 바꾸면 안됨 기존 li로 적용됨 */
.nav{
	margin-top: 100px;
	direction: flex;
	justify-content: center;
	margin-bottom:50px;
}
[title="공지사항"]{
	
	text-align: center;
	text-transform:uppercase;
	font-family:Cursive;
	font-weight: bold;
	
}
[title="공지사항그룹"]{
	font-size: 20px;
}

.link{
	cursor: pointer;
}
.pageBottom{
	margin-bottom: 30px;
}
section a{
	color : gray;
}
