@charset "UTF-8";

#callender > tbody > tr {
	display: flex;
}

#callender > tbody > tr > th {
	width: 135px;
}

#callender > tbody > tr > td {
	height: 135px;
    width: 135px;
    align-self: center;
    display: flex;
    justify-content: center;
}

#gift-table > tbody > tr > th {
	width: 40%;
	text-align: center;
}

#gift-table > tbody > tr > td {
	text-align: center;
}

.attendance_td {
	width: 80%;
	height: 80%;
	align-self: center;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}