@charset "UTF-8";

.dropdown-menu {
	display: none;
}

.main-dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0px;
}

.main-nav-dropdown {
	color: #999999;
	font-size: 18px;
}

.main-nav-dropdown:hover {
	text-decoration: none;
}

.main-movie-img {
	border-radius: 10px;
}

#main-nav {
	border-radius: 10px;
	margin-bottom: 10px;
}

#search {
	margin-right: 10px;
	border-radius: 10px;
}

.slide-movie-image {
	margin-right: 30px;
}

.slide-movie-image:hover {
	transition: 0.6s;
	opacity: 0.5;
}

.slide-movie-image:not(:hover) {
	transition: 0.6s;
	opacity: 1; 
}

#slide-movie {
	margin-bottom: 10px;
	background-color: #666666;
}

.main-movie-list {
	margin-bottom: 10px;
	width: auto;
	display: flex;
	justify-content: space-between;
}

.main-movie:hover > .card-div > .heart {
	transition: 0.6s;
	opacity: 0.5;
}

.main-movie:not(:hover) > .card-div > .heart {
	transition: 0.6s;
	opacity: 0;
}

.main-movie:hover > .card-div > .card-movie-image {
	cursor: pointer;
	transition: 0.6s;
	opacity: 0.5;
}

.main-movie:not(:hover) > .card-div > .card-movie-image {
	transition: 0.6s;
	opacity: 1;
}

.main-movie:hover > .movie-name {
	transition: 0.6s;
	color: #6666fa;
}

.main-movie:not(:hover) > .movie-name {
	transition: 0.6s;
	color: inherit;
}

.main-movie {
	position: relative;
}

.user-rate {
	position: absolute;
	top: 2%;
	left: 5%;
	color: white;
	opacity: 0;
	background-color: #999999;
	border-radius: 10px;
	width: 25%;
	text-align: center;
}


.heart {
	position: absolute;
	top: 1.5%;
	left: 2.5%;
	opacity: 0;
	color: white;
	background-color: #999999;
	border-radius: 10px;
	text-align: center;
}

.movie-name {
	font-size: 20px;
	font-weight: bold;
}

.info {
	color: #444444;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}