@charset "UTF-8";

/* .row { */
/* 	background-color: #999999; */
/* } */

#logo {
	color: #000000;
	font-size: 40px;
	text-decoration: none;
}

.topbar-dropdown {
	color: #000000;
	font-size: 25px;
}

.topbar-dropdown:hover {
	color: #9999fa;
	text-decoration: none;
}

.dropdown-menu {
	display: none;
}

.top-hover-dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0px;
}

.navbar-search {
	margin-right: 100px;
}

#login {
	color: #000000;
	font-size: 20px;
}

#login:hover {
	color: #9999fa;
	text-decoration: none;
}

#myNickName {
	font-size: 20px;
	color: #000000;
	vertical-align: middle;
}

#myProfile {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}