@charset "UTF-8";
.admin-top{
	width: 80%;
}
.admin-body{
	font-size: 50px;
	font-family: cursive;
	font-weight: bold;
	margin-bottom: 20px;
}
.si>div{
	margin-top: 10px;
}
.cardV{
	margin-right: 10px;
	float : left; 
	width: 198px; 
	height: 288px; 
	background-color: gray;
}
.movieText{
	margin-left: 15px;
}
.qurtar>input{
	size:20;
}
[title="사진규격"]{
	cursor: pointer;
	color: white;
}

.page-link{
	color : black;
}
.page-link:hover{
	color : red;
}
[title="검색선택"]{
	margin-right: 20px;
}
/* 부트스트랩 전용 class 바꾸면 안됨 기존 li로 적용됨 */
.nav{
	margin-top: 100px;
	direction: flex;
	justify-content: center;
	margin-bottom:50px;
}

.link{
	cursor: pointer;
}
.pageBottom{
	margin-bottom: 30px;
}
section a{
	color : gray;
}
.profile-images{
}
.main_image_text{
	position: absolute;
	color: black;
	
}
#poster-upload{
	visibility: hidden;
}