#mainManage{
	font-size: 40px;
	font-family: cursive;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	resize: none;
}

.lineChart{
	width: 70%;
	
	resize: none;
	margin: 0 auto;
}


div>h3{
	font-weight: bold;
	text-align: center;
}

/* 차트와 글간 간격 설정 */
.mainChart-bar{
	margin-top: 15px;
}
#ageView{
	margin-top: 30px;
}
#monthPoint{
	margin-top: 30px;
}

.mainChart{
	margin-top: 30px;
}

