@charset "UTF-8";

section a{
	background-color: black;	
}
section div{
	background-color: black;	
}
section span{
	background-color: black;	
}
li.nav-item{
	background-color: black;
}
.sidebar-heading{
	background-color: black;	
}
div#wrapper{
	background-color: black;
}
nav.navbar{
	background-color: black;
}
.navbar-nav{
	background-color: black;
}
.sidebar-brand{
	background-color: black;
}
[title="ak"]{
	background-color: black;
}
ul#Sidebar{
	background-color: black;	
}
/* <여기는 기존 회원 관리입니다> */
body .admin-top{
width: 80%;
height: auto;
margin-top: 50px;
}
.admin-top h2{
	font-family:Cursive;
	font-weight: bold;
	color:black;
	margin-bottom: 50px;
}
[title="벤"]{
	margin-right: 10px;
}


/* 차트 */
.circle{min-width:200px; display:inline-block;}
.chart {float: left; width: 33.33%; height: 230px; text-align: center;}
.chart span.title{position: relative; display: block; width: 100%; text-align: center; top: 110px;}
