<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.minCinema.mapper.Heo_MemberMapper">
	<!-- 멤버 추가 -->
	<insert id="insert">
		insert into MC_MEMBER(mid, mpw, memail, mname, mnick, mtel)
		values (#{mid}, #{mpw}, #{memail}, #{mname}, #{mnick}, #{mtel})
	</insert>
	<!-- 활동상태 갱신 -->
	<update id="updateActive">
		update MC_MEMBER set
		mactive = #{ben}
		where mid = #{mid}
	</update>
	<!-- 포인트 변경 -->
	<update id="updatePoint">
		update MC_MEMBER set
			mpoint = mpoint + #{ppoint}
		where mid = #{mid}
	</update>
	<!-- 로그인 -->
	<select id="login" resultType="com.kh.minCinema.domain.Heo_MemberVO">
		select * from MC_MEMBER
    	where mid = #{mid}
    	and mpw = #{mpw}
	</select>
	
</mapper>