<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.minCinema.mapper.Heo_NoticeMapper">
	<insert id="insertNotice">
		insert into mc_notice (nno, ntitle, ncontent)
		values(seq_nno.nextval, #{ntitle}, #{ncontent})
	</insert>
	
	<select id="selectNotice" resultType="com.kh.minCinema.domain.Heo_NoticeVO">
		select * from(
    		select /*+INDEX_DESC(mc_notice nno) */
        	rownum rn, nno, ntitle, ncontent, nregdate, ncount
        	from mc_notice)
        where rn between #{startRow} and #{endRow}
	</select>
	
	<update id="updateNotice">
		update mc_notice set
		ntitle = #{ntitle},
		ncontent = #{ncontent}
		where nno = #{nno}
	</update>
	
	<delete id="deleteNotice">
		delete from mc_notice
		where nno = #{nno}
	</delete>
	
	<select id="selectContent" resultType="string">
		select ncontent from mc_notice
		where nno = #{nno}
	</select>
	
	<update id="addCount">
		update mc_notice set
		ncount = ncount+1
		where nno = #{nno}
	</update>
	
	<select id="getNoticeCount" resultType="int">
		select count(*) from mc_notice
	</select>	
</mapper>