<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.minCinema.mapper.Je_MovieDateMapper">
	
	
	<select id="movieScreenDates" resultType="String">
		SELECT MOV_SCREEN_DATE FROM MC_MOVIE_DATE
			WHERE MOV_CODE = #{movieCode}
			GROUP BY MOV_SCREEN_DATE
			ORDER BY MOV_SCREEN_DATE ASC
	</select>
	
	<select id="movieStartTimes" resultType="com.kh.minCinema.domain.Je_MovieDateInfoDTO">
		SELECT MOV_START_TIME, MOV_THEATER FROM MC_MOVIE_DATE
			WHERE MOV_CODE = #{mov_code} AND MOV_SCREEN_DATE = #{mov_screen_date}
			ORDER BY MOV_START_TIME
	</select>
	
	
</mapper>