<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.minCinema.mapper.Je_MovieTheaterMapper">
	
	<!-- 이미 예약된 좌석들 -->
	<select id="movieReservedSeats" resultType="String">
		SELECT SEAT_NAME_RES FROM MC_MOVIE_THEATER
			WHERE MOV_THEATER = #{mov_theater} AND 
					MOV_THEATER_TIME = #{mov_start_time} AND 
					MOV_THEATER_DATE = #{mov_screen_date}
			
	</select>
	
	<!-- 좌석 예약 -->
	<insert id="insertReservedSeats">
		INSERT INTO MC_MOVIE_THEATER(MOV_THEATER_CODE, MOV_DATE_CODE ,MOV_THEATER, MOV_THEATER_DATE, MOV_THEATER_TIME, SEAT_NAME_RES , MID)
            VALUES(seq_theater.nextval, #{movieDateCode} ,#{movieTheater}, #{movieDate}, #{movieTime} , #{reservedSeat} ,#{mid})
	</insert>
	
	<!-- 좌석 중복예약 체크 -->
	<select id="dupCheck" resultType="int">
		SELECT  COUNT(*) FROM MC_MOVIE_THEATER 
			WHERE  MOV_THEATER = #{movieTheater}
			       AND MOV_THEATER_DATE = #{movieDate} 
			       AND MOV_THEATER_TIME = #{movieTime} 
			       AND SEAT_NAME_RES = #{reservedSeat}
	</select>
	
	
	<!-- 예매내역 가져오기 by Jo -->
	<select id="selectReservedHistory" resultType="com.kh.minCinema.domain.Jo_ReservedHistoryDTO">
		SELECT MOV_THEATER, MOV_THEATER_DATE, MOV_THEATER_TIME, SEAT_NAME_RES FROM MC_MOVIE_THEATER
		WHERE MID = #{mid}
		AND MOV_THEATER_DATE >= SUBSTR(TO_CHAR(SYSDATE, 'YYYY-MM-DD'), 0, 10)
        AND MOV_THEATER_TIME > SUBSTR(TO_CHAR(SYSDATE, 'HH24:MI'), 0, 5)
	</select>
	
</mapper>