<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.minCinema.mapper.Je_MovieTimeMapper">
	
	
	<select id="movieStartTimes" resultType="com.kh.minCinema.domain.Je_MovieReservDTO">
		SELECT MOV_START_TIME, MOV_LOC FROM MC_MOVIE_TIME
			WHERE MOV_DATE_CODE = #{movieDateCode}
			ORDER BY MOV_START_TIME
	</select>
	
	
</mapper>