<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.minCinema.mapper.Jo_MovieMapper">
	<insert id="insertMovie">
		INSERT INTO MC_MOVIE
		VALUES (#{mov_code}, #{mov_title}, #{mov_director}, #{mov_actor}, #{mov_releaseDate}, #{mov_plot}, #{mov_runtime}, #{mov_rating}, #{mov_genre}, #{mov_trailer})
	</insert>
	
	<select id="selectAll" resultType="com.kh.minCinema.domain.Jo_MovieVO">
		SELECT * FROM MC_MOVIE
		WHERE MOV_GENRE LiKE '%' || #{mov_genre} || '%'
	</select>
	
	<select id="selectMovieByCode" resultType="com.kh.minCinema.domain.Jo_MovieVO">
		SELECT * FROM MC_MOVIE
		WHERE MOV_CODE = #{mov_code}
	</select>
	
	<select id="selectInterestToHeart" resultType="com.kh.minCinema.domain.Jo_MovieVO" parameterType="string">
		SELECT * FROM MC_MOVIE
		WHERE MOV_CODE = ANY(SELECT MOV_CODE
        		             FROM MC_HEART
                		     WHERE MID = '${value}')
	</select>
	
	<!-- // by Je 추가 -->
	<select id="selectTitleAndCode" resultType="com.kh.minCinema.domain.Je_MovieReservDTO">
		SELECT MOV_TITLE,MOV_CODE FROM MC_MOVIE
	</select>
	
</mapper>