<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.minCinema.mapper.Jo_MovieMapper">
	<sql id="search">
		<where>
	    	<foreach item="search" collection="searchArr">
			    <choose>
			    	<when test="search == 'T'.toString()">
			    		MOV_TITLE LIKE '%' || #{keyword} || '%'
			    	</when>
			    	<when test="search == 'D'.toString()">
			    		OR MOV_DIRECTOR LIKE '%' || #{keyword} || '%'
			    	</when>
			    </choose>
	    	</foreach>
	    </where>
	</sql>

	<select id="selectMovieSearch" resultType="com.kh.minCinema.domain.Jo_MovieVO">
		SELECT MOV_CODE, MOV_TITLE, MOV_RELEASEDATE, MOV_RUNTIME, MOV_GENRE FROM (
		    SELECT * FROM MC_MOVIE
		    <include refid="search"></include>
		    )
	</select>

	<insert id="insertMovie">
		INSERT INTO MC_MOVIE
		VALUES (#{mov_code}, #{mov_title}, #{mov_director}, #{mov_actor}, #{mov_releaseDate}, #{mov_plot}, #{mov_runtime}, #{mov_rating}, #{mov_genre}, #{mov_trailer})
	</insert>
	
	<select id="selectAll" resultType="com.kh.minCinema.domain.Jo_MovieVO">
		SELECT MOV_CODE, MOV_TITLE, MOV_RELEASEDATE, MOV_RUNTIME, MOV_GENRE FROM MC_MOVIE
		WHERE MOV_GENRE LIKE '%' || #{mov_genre} || '%'
		ORDER BY MOV_RELEASEDATE DESC
	</select>
	
	<select id="selectMovieByCode" resultType="com.kh.minCinema.domain.Jo_MovieVO">
		SELECT * FROM MC_MOVIE
		WHERE MOV_CODE = #{mov_code}
	</select>
	
	<select id="selectInterestToHeart" resultType="com.kh.minCinema.domain.Jo_MovieVO" parameterType="string">
		SELECT * FROM MC_MOVIE
		WHERE MOV_CODE = ANY(SELECT MOV_CODE
        		             FROM MC_HEART
                		     WHERE MID = '${value}')
	</select>
	
	<select id="selectSlideMovie" resultType="com.kh.minCinema.domain.Jo_MovieVO">
		SELECT * FROM MC_MOVIE
	</select>
	
	<!-- // by Je 추가 -->
	<select id="selectTitleAndCode" resultType="com.kh.minCinema.domain.Je_MovieDateInfoDTO">
		SELECT MOV_TITLE,MOV_CODE FROM MC_MOVIE
	</select>
	
	<!-- 관리자 차트용 h -->
	<select id="selectMovieCount" resultType="com.kh.minCinema.domain.Ham_MovieCountDTO">
		SELECT MOV_GENRE, COUNT(MOV_GENRE) MOV_COUNT FROM MC_MOVIE GROUP BY MOV_GENRE
	</select>
	
</mapper>