@charset "UTF-8";

body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
} /*드래그 방지*/

.reserve-container {
    display: flex; /**flex 적용**/
    justify-content: center; /* 가운데 정렬 */
    flex-wrap: nowrap;
    height: 850px; /*높이 800px*/
    background-color: white;
}

.reserve-container>div {
    border: 1px solid #dddddd;
    /*외각선 굵게만들어 구분하기*/
    background-color: fbe1c13a;
} 

.reserve-title { /*타이틀 상단제목 css*/
 	display: flex;
	justify-content: center;
	width: 100%;
	height: 5%;
    border-bottom: 1px solid #dddddd;
    background-color: #444444;
    color: #dddddd;/*글자 색*/
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.seat-part{
	 width: 932px;
}

.seat-part > div{
	display: flex;
   	border: 1px solid #dddddd;
}

.seatSelector{
	height: 85%
}

.seatLoc{
	
	
	background-color:#fbe1c13a;
	height: 100%; 
 	width: 70%; 
 	border-left: 1px solid #dddddd;
   	border-right: 3px solid #dddddd;
}


.seatLoc-top{
	width: 100%;
	font-size: 22px;
}

.seatLoc-top >div >div{
	border: 2px solid #dddddd;
}

.scroll{
	overflow: scroll; 
	overflow-y: hidden;
}

.scroll::-webkit-scrollbar{
    width: 15px;
}

.scroll::-webkit-scrollbar-thumb{
    background-color: #9b54ba;
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-track{
    background-color: #e4e4f8;
}

.seatRow{
	width: 100%;
	display: flex;
  	justify-content: center;
   	flex-direction: row;
   	flex-wrap: wrap;
}

.seat{
	
	height: 50px;
	width: 50px;
	background-color:white;
	cursor: pointer;
	
}


.ENG-Row{
	width: 8%;
	font-size:28px;
	padding:15px;
}

.fourSeat{
	width: 30%;
	font-size : 28px;
	padding:15px;
}

.sixSeat{
	width: 45%;
	font-size : 28px;
	padding:15px;
}

.twoSeat{
	width: 17%;
	font-size : 28px;
	padding:15px;
}

#first{
	background-color:blue;
	color: white;
}


.count{
	width: 30%;
	height: 100%; 
	background-color:#fbe1c13a;
}

.countText{
	text-align: center; 
	font-size:40px;
}

.pCount{
	background: red;
	cursor: pointer;
}

.seatMember{
	white-space: nowrap;
}

span[data-select='noselect'] {
  background-color: red;
  color: white;
}

.revInfo{
	padding-top : 10px;
	height : 25%;
	overflow: scroll; 
	overflow-x: hidden;
}

.revInfo::-webkit-scrollbar{
    width: 15px;
}

.revInfo::-webkit-scrollbar-thumb{
    background-color: #9b54ba;
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;
}

.revInfo::-webkit-scrollbar-track{
    background-color: #e4e4f8;
}